<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-lazy-init="false">

    <import resource="applicationContext-dao.xml"/>
    <import resource="applicationContext-manager.xml"/>
    <import resource="applicationContext-tx.xml"/>

    <bean id="engineerService" class="kaitou.ppp.service.impl.EngineerServiceImpl">
        <property name="engineerManager" ref="engineerManager"/>
        <property name="engineerTrainingManager" ref="engineerTrainingManager"/>
    </bean>

    <bean id="shopService" class="kaitou.ppp.service.impl.ShopServiceImpl">
        <property name="shopManager" ref="shopManager"/>
        <property name="shopDetailManager" ref="shopDetailManager"/>
    </bean>

    <bean id="systemSettingsService" class="kaitou.ppp.service.impl.SystemSettingsServiceImpl">
        <property name="systemSettingsManager" ref="systemSettingsManager"/>
    </bean>

    <bean id="dbService" class="kaitou.ppp.service.impl.DbServiceImpl">
        <property name="dbDir" value="${db.file.dir}"/>
        <property name="backDbFile" value="${db.file.back}"/>
        <property name="systemSettingsManager" ref="systemSettingsManager"/>
    </bean>

</beans>
