<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd"
       default-lazy-init="false">

    <import resource="applicationContext-dao.xml"/>
    <import resource="applicationContext-manager.xml"/>
    <import resource="applicationContext-tx.xml"/>

    <bean id="cardService" class="kaitou.ppp.service.impl.CardServiceImpl">
        <property name="complete" value="${card.complete}"/>
        <property name="logFileName" value="${card.logFileName}"/>
        <property name="output" value="${card.output}"/>
        <property name="template" value="${card.template}"/>
        <property name="templateName" value="${card.templateName}"/>
        <property name="workspace" value="${card.workspace}"/>
        <property name="cardApplicationRecordManager" ref="cardApplicationRecordManager"/>
        <property name="shopManager" ref="shopManager"/>
    </bean>

    <bean id="engineerService" class="kaitou.ppp.service.impl.EngineerServiceImpl">
        <property name="engineerManager" ref="engineerManager"/>
        <property name="engineerTrainingManager" ref="engineerTrainingManager"/>
        <property name="shopManager" ref="shopManager"/>
        <property name="engineerUpdateListeners">
            <list>
                <ref bean="engineerTrainingManager"/>
            </list>
        </property>
        <property name="systemSettingsManager" ref="systemSettingsManager"/>
        <property name="remoteRegistryManager" ref="remoteRegistryManager"/>
    </bean>

    <bean id="shopService" class="kaitou.ppp.service.impl.ShopServiceImpl">
        <property name="shopManager" ref="shopManager"/>
        <property name="shopDetailManager" ref="shopDetailManager"/>
        <property name="shopRTSManager" ref="shopRTSManager"/>
        <property name="shopPayManager" ref="shopPayManager"/>
        <property name="shopUpdateListeners">
            <list>
                <ref bean="shopManager"/>
                <ref bean="shopDetailManager"/>
                <ref bean="shopPayManager"/>
                <ref bean="shopRTSManager"/>
                <ref bean="engineerManager"/>
                <ref bean="engineerTrainingManager"/>
            </list>
        </property>
        <property name="cardApplicationRecordManager" ref="cardApplicationRecordManager"/>
        <property name="remoteRegistryManager" ref="remoteRegistryManager"/>
        <property name="systemSettingsManager" ref="systemSettingsManager"/>
    </bean>

    <bean id="systemSettingsService" class="kaitou.ppp.service.impl.SystemSettingsServiceImpl">
        <property name="systemSettingsManager" ref="systemSettingsManager"/>
    </bean>

    <bean id="dbService" class="kaitou.ppp.service.impl.DbServiceImpl">
        <property name="dbDir" value="${db.file.dir}"/>
        <property name="backDbFile" value="${db.file.back}"/>
        <property name="pppDir" value="${ppp.file.dir}"/>
        <property name="systemSettingsManager" ref="systemSettingsManager"/>
    </bean>

    <bean id="upgradeService" class="kaitou.ppp.service.impl.UpgradeServiceImpl">
        <property name="dbDir" value="${db.file.dir}"/>
    </bean>

    <bean id="localRegistryService" class="kaitou.ppp.service.impl.LocalRegistryServiceImpl">
        <property name="remoteRegistryManager" ref="remoteRegistryManager"/>
    </bean>

    <import resource="applicationContext-remote.xml"/>

</beans>
